body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background: linear-gradient(to right, #393E46, #222831); /* Soft background */
  color: #333;
  margin: 0;
  padding: 20px;
}

.title-text {
  text-align: center;
  padding-top:.2em;
  padding-bottom:.2em;
  padding-left:2em;
  padding-right:2em;
  margin: 0 auto 1em auto;
  color:#EEEEEE;
  background-color: #00ADB5;
  width: fit-content;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.title-text h1 {
  font-size: 1.5rem;
}

/* The Card Container */
.card {
  width:60%;
  margin:auto;
  background-color: #EEEEEE;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 50px;
  margin-bottom: 20px;
}

/* Modern Responsive Grid */
.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
  margin-bottom: 20px;
}


input, select, button {
  padding:8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  margin-top: 7px;
}

.form-grid label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

button {
  background-color: #00ADB5;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #A6E3E9;
}

/* Widescreen (2560px+) */
@media (min-width: 2560px) {
  .card {
    width: 40%;
    max-width: 1200px;
  }
}